<?xml version="1.0"?>
<odoo>
  <!-- demo_sh5000_show App Menu -->
  <menuitem id="demo_sh5000_show_menu" name="Demo Sh5000 Show Root" />

  <!-- Action to open the demo_odoo_tutorial -->
  <act_window id="action_sh5000_no_create" name="Demo SH5000 No Create" res_model="demo.sh5000.show" view_mode="tree,form" view_id="view_tree_demo_sh5000_no_create" />

  <!-- Action to open the demo_odoo_tutorial -->
  <act_window id="action_sh5000_show" name="Demo SH5000 Show Show Show" res_model="demo.sh5000.show" view_mode="tree,form" view_id="view_tree_demo_sh5000_show" />

  <!-- Action to open the demo_odoo_tutorial -->
  <act_window id="action_system_users_show" name="Supervisor" res_model="demo.supervisor" view_mode="tree,form"/>

  <!-- Menu item to open the demo_expense_tutorial_no_craete -->
  <menuitem id="menu_sh5000_no_create" name="Demo Sh5000 No Create" action="action_sh5000_no_create" parent="demo_sh5000_show_menu" />

  <menuitem id="menu_sh5000_show" name="SH 5000 List" action="action_sh5000_show" parent="demo_sh5000_show_menu" />

  <menuitem id="menu_super_show" name="Supervisor" action="action_system_users_show" parent="demo_sh5000_show_menu" />


</odoo>
